@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:wght@300&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Open Sans', sans-serif;
}
:root {
  --white-bg: #120218;
  --gray-1: #110202;
  --deep-dark: #ecdede;
  --gray-2: #020105;
  --white: rgb(16, 4, 4);
  --black: rgb(27, 10, 34);
}
html {
  font-size: 10px;
  font-family: "Roboto Mono";
  background-color: var(--white--bg);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--black);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}